# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# HPC scripts
.scripts/
MutLX/.ipynb_checkpoints

# VS Code
.vscode/

# Environments
.env
.venv/
env/
venv/

# macOS
.DS_Store

# Backup files
*.bak
*.swp
