# Byte-compiled / optimized / DLL files
__pycache__/
*/.ipynb_checkpoints/*

# HPC scripts
.scripts/
MutLX/.ipynb_checkpoints
*/data/*

# VS Code
.vscode/

# Environments
.env
.venv/
env/
venv/

# macOS
.DS_Store

# Backup files
*.bak
*.swp
data/test1.csv
